<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class="table table-danger table-striped">
    <thead>
        <tr>
            <th scope="col">Color Id</th>
            <th scope="col">Color Name</th>
        </tr>
    </thead>
    <tr *ngFor="let color of colors">
        <td>{{color.colorId}}</td>
        <td>{{color.colorName}}</td>
        
        
    </tr>
</table>

