<div class="row image-section">
  <div *ngFor="let image of carImages" class="col-md-4 img-gallery">
    <img
      [src]="getImagePath(image.imagePath)"
      class="img-fluid"
      [alt]="getImagePath(image.imagePath)"
    />
  </div>
</div>

<ul *ngIf="carDetails" class="list-group list-group-flush">
  <li class="list-group-item">Brand Name: {{ carDetails.brandName }}</li>
  <li class="list-group-item">Color Name: {{ carDetails.colorName }}</li>
  <li class="list-group-item">Model Year: {{ carDetails.modelYear }}</li>
  <li class="list-group-item">Daily Price: {{ carDetails.dailyPrice }}</li>
 
</ul>