
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Brand Name</th>
      <th scope="col">Color Name</th>
      <th scope="col">Car Name</th>
      <th scope="col">Model Year</th>
      <th scope="col">Daily Price</th>
      
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars ">
      <td>{{ car.carID }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice | currency }}</td>
      
      <td>
        <button
          routerLink="/cars/cardetail/{{ car.carID }}"
          type="button"
          class="btn btn-xs btn-primary"
          (click)="getCarDetailById(car.carID)"
        >
          Detail
        </button>
      </td>
    </tr>
  </tbody>
</table>